html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 12px;
    letter-spacing: 0.2ch;
}

html, body,
section {
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.seperator {
    height: 2px;
    width: 50px;
    display: inline-block;
    background-color: #EDA924;
    margin-bottom: 60px;
}

.navbar {
    z-index: 100;
}

.header .navbar-brand .logo {
    width: 150px;
    margin-top: -80px;
    position: relative;
    top: 25px;
}

@media screen and (min-width: 768px) {
    .header .navbar-brand .logo {
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 767px) {
    .header .container {
        padding: 0;
    }
    .header .navbar-brand {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
    .header .navbar-brand .logo {
        width: 75px;
        top: 35px;
    }
}

.header .navbar.fixed-top .navbar-brand .logo {
    width: 90px;
    top: 35px;
}

.header .header-info {
    position: relative;
    z-index: 100;
}

.header .header-info .contact-info {
    font-size: 1.2rem;
    padding: 5px 0 0 15px;
    box-sizing: border-box;
    color: #fff;
}

.header .header-info .social-info ul {
    list-style: none;
    float: right;
    display: flex;
}

.header .header-info .social-info ul li {
    flex: 1;
    padding: 7px 10px;
}

.header .header-info .fa {
    font-size: 1.3rem;
    color: #fff;
}

.header .header-info .contact-info .fa {
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .navbar {
        transition: width 0.5s ease;
    }
}

.navbar-light .navbar-toggler {
    margin-top: 5px;
}

.navbar.fixed-top {
    background-color: #fff;
    border-bottom: 1px solid #f3f3f3;
}

.navbar .navbar-nav .nav-link {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .navbar {
        background-color: #fff;
    }
    .navbar.navbar.fixed-top {
        position: relative;
    }
    .navbar .navbar-nav .nav-link {
        color: #111111;
    }
}

@media screen and (min-width: 768px) {
    .navbar.fixed-top .navbar-nav .nav-link {
        padding-top: 20px;
        padding-bottom: 20px;
        color: #111111;
    }
}

.navbar .navbar-nav .nav-link.active {
    color: #EDA924;
}

.navbar .navbar-nav .nav-item .nav-link:before {
    content: "";
    height: 2px;
    background-color: #EDA924;
    position: absolute;
    display: block;
    left: 50%;
    right: 50%;
    top: -20px;
    transition: all 0.2s ease;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-nav .nav-item .nav-link:before,
    .navbar.fixed-top .navbar-nav .nav-item .nav-link:before,
    .navbar .navbar-nav .nav-item .nav-link.active:before {
        width: 2px;
        top: 50%;
        bottom: 50%;
        left: -3px;
        height: auto;
    }
    .navbar .navbar-nav .nav-item .nav-link.active:before,
    .navbar .navbar-nav .nav-item:hover .nav-link:before {
        top: 3px;
        bottom: 3px;
    }
    .navbar .navbar-collapse {
        margin-top: 15px;
    }
}

.navbar.fixed-top .navbar-nav .nav-link:before {
    top: -6px;
}

@media screen and (min-width: 768px) {
    .navbar .navbar-nav .nav-link.active:before,
    .navbar .navbar-nav .nav-item:hover .nav-link:before {
        left: 5px;
        right: 5px;
    }
}

.header .backdrop-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: no-repeat center center;
    position: absolute;
    top: 0;
    z-index: 0;
}

.header .backdrop-image .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.header .backdrop-image .overlay h1 {
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6.3rem;
}

.main {
    margin-top: 100vh;
    background-color: #fff;
}

.main .page-title {
    font-weight: 800;
    margin-bottom: 10px;
}

.services-page .main .container {
    padding-top: 80px;
}

.services-page .main .features {
    background-color: #dedede;
    text-align: left;
    margin-top: 50px;
    padding: 50px 0;
}

.services-page .main .features .seperator {
    margin-bottom: 30px;
}

.services-page .main .features p {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    column-count: 2;
    column-gap: 90px;
    margin-bottom: 50px;
}

.services-page .main .page-title {
    margin-bottom: 25px;
}

.services-page .main .page-description p {
    font-size: 1.2rem;
    column-count: 2;
    column-gap: 90px;
}

@media screen and (max-width: 767px) {
    .services-page .main .follow-us {
        margin-bottom: 30px;
    }
}

.services-page .main .follow-us .seperator {
    margin-bottom: 30px;
}

.services-page .main .follow-us .social-links {
    list-style: none;
    display: flex;
}

.services-page .main .follow-us .social-links li {
    display: inline-block;
    position: relative;
    flex: 1;
}

.services-page .main .follow-us .social-links li a {
    background-color: #f1f1f1;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    color: #111111;
}

.services-page .main .follow-us .social-links li a:hover {
    color: #EDA924;
}

.services-page .main .follow-us .social-links li .fa {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main .contact-page-description {
    text-align: center;
    padding-top: 80px;
}

.main .contact-page-description h1,
.contact-form h1 {
    font-weight: 800;
    margin-bottom: 10px;
}

.main .contact-page-description h3 {
    font-weight: 800;
    margin-top: 15px;
    font-size: 1.6rem;
}

.main .contact-page-description p,
.contact-form p {
    margin-top: 15px;
    font-size: 1.2em;
    letter-spacing: 0.05rem;
}

.main .contact-page-description .icon,
.main .contact-page-description .icon:before {
    background-color: #f3f3f3;
    width: 7rem;
    height: 7rem;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.main .contact-page-description .icon:before {
    content: "";
    background-color: #EDA924;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    transition: all 0.15s ease;
    opacity: 0;
}

.main .contact-page-description .icon:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.main .contact-page-description .icon .fa {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main .contact-page-description .features p {
    font-size: 1.1rem;
}

@media screen and (max-width: 767px) {
    .main .contact-page-description .features p {
        padding: 0 1.2rem 2rem;
    }
}

.contact-info-map {
    margin-top: 72px;
}

.contact-info-map h1 {
    font-weight: bold;
}

.contact-info-map p {
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
}

.contact-info-map .seperator {
    margin-top: 30px;
    margin-bottom: 20px;
}

.contact-info-map .map,
.contact-info-map .address {
    height: 100vh;
}

@media screen and (max-width: 767px) {
    .contact-info-map .map {
        height: 50vh;
    }
    .contact-info-map .address {
        height: auto;
        padding-bottom: 100px;
    }
}

.contact-info-map .address {
    background-color: #f3f3f3;
    padding-top: 90px;
    padding-left: 50px;
}

.contact-form {
    padding: 100px 0;
}

.contact-form,
.contact-form p {
    text-align: center;
}

.contact-form .input-group {
    margin: 0 0 30px;
}

.contact-form .input-group .form-control {
    padding: 15px 10px;
    font-size: 1.2rem;
    font-family: Raleway;
    border-radius: 0;
    border: 1px solid #efefef;
}

.contact-form .input-group textarea.form-control {
    resize: none;
}

.contact-form .input-group .btn-submit {
    background-color: #000;
    color: #e1e1e1;
    font-size: 1.4em;
    letter-spacing: 0.2rem;
    width: 100%;
    font-family: inherit;
    border-radius: 0;
    padding: 12px 0;
    border: none;
    outline: none;
}

@media screen and (max-width: 767px) {
    .contact-form .input-group .form-control,
    .contact-form .input-group .btn-submit {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.contact-form .input-group .btn-submit:focus {
    outline: none;
}

.contact-form .input-group .btn-submit:hover {
    background-color: #EDA924;
    color: #000;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: #efefef;
}

.contact-form .input-group .border-decorator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.contact-form .input-group .border-decorator:before,
.contact-form .input-group .border-decorator:after {
    content: "";
    position: absolute;
    background-color: #EDA924;
    z-index: 100;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.contact-form .input-group .border-decorator:nth-of-type(1):before,
.contact-form .input-group .border-decorator:nth-of-type(1):after {
    height: 1px;
}

.contact-form .input-group .border-decorator:nth-of-type(1):before {
    top: 0;
    left: 45px;
    right: 100%;
}

.contact-form .input-group .border-decorator:nth-of-type(1):after {
    bottom: 0;
    right: 45px;
    left: 100%;
}

.contact-form .input-group .border-decorator:nth-of-type(2):before,
.contact-form .input-group .border-decorator:nth-of-type(2):after {
    width: 1px;
}

.contact-form .input-group .border-decorator:nth-of-type(2):before {
    top: 100%;
    left: 45px;
    bottom: 0;
}

.contact-form .input-group .border-decorator:nth-of-type(2):after {
    top: 0;
    bottom: 100%;
    right: 45px;
}

.contact-form .input-group .form-control:focus~.border-decorator:nth-of-type(1):before {
    right: 45px;
}

.contact-form .input-group .form-control:focus~.border-decorator:nth-of-type(1):after {
    left: 45px;
}

.contact-form .input-group .form-control:focus~.border-decorator:nth-of-type(2):before {
    top: 0;
}

.contact-form .input-group .form-control:focus~.border-decorator:nth-of-type(2):after {
    bottom: 0;
}

@media screen and (min-width:768px) {
    .contact-form .input-group .border-decorator:nth-of-type(1):before,
    .contact-form .input-group .border-decorator:nth-of-type(2):before,
    .contact-form .input-group .form-control:focus~.border-decorator:nth-of-type(1):after {
        left: 15px;
    }
    .contact-form .input-group .border-decorator:nth-of-type(1):after,
    .contact-form .input-group .border-decorator:nth-of-type(2):after,
    .contact-form .input-group .form-control:focus~.border-decorator:nth-of-type(1):before {
        right: 15px;
    }
}


/*Home*/

div.owl-carousel {
    position: relative;
    height: 100%;
    width: 100%;
}


/* 
.owl-carousel .owl-nav {}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    width: 20px;
    height: 20px;
}
.owl-carousel .owl-nav .owl-prev:before {
    content: "" */

.owl-carousel .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('http://placehold.it/1920x900') no-repeat center;
    background-size: cover;
}
#homeCarousel .owl-item:nth-child(even) .slide{
background: url('../assets/bgs.jpg') no-repeat center;
background-size: cover;
}
#homeCarousel .owl-item:nth-child(odd) .slide{
background: url('../assets/bgsa.jpg') no-repeat center;
background-size: cover;
}

.owl-item .slide .text {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 60%;
}
.text h1,.text h2,.text h4 {
    position: relative;
    line-height: 3;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.text h1{
    font-family: 'Raleway', 'sans-serif';

}
.caption {
    font-style: italic;
}

.owl-item .slide .text h1 {
    line-height: 1.2;
}

.owl-item .slide .text h4 {
    line-height: 1.5;
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

section.homeServices {
    position: relative;
    text-align: center;
}

.homeServices .col {
    padding: 5rem 3.5rem;
    background-color: #fafafa;
    min-height: 200px;
    border-right: 1px solid #eeeeee;
    text-align: center;
}
.homeServices .col p{
    text-align: justify;
}

.homeServices .col .wrap {
    vertical-align: baseline;
    padding-bottom: 20px;
}

.serviceItem .icon {
    position: relative;
    padding: 50px;
    width: 7.5rem;
    height: 7.5rem;
    display: inline-block;
    margin-bottom: 10px;
}

.serviceItem .icon .material-icons {
    font-size: 4rem;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.serviceItem .icon:after {
    content: "";
    position: absolute;
    z-index: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #EDA924;
    top: 0;
    left: 0;
    transform: scale(1.4);
    opacity: 0;
    transition: all 0.25s ease;
}

.serviceItem .icon:hover:after {
    transform: scale(1);
    opacity: 1;
}

.serviceItem h2 {
    font-weight: bold;
    min-height: 5.5rem;
}

section.features {
    text-align: center;
}

section.features .background {
    background: url('http://placehold.it/1024x700') no-repeat center;
    background-size: cover;
}

.featureList {
    background: url('../assets/blackback.png');
    color: #fff;
    background: url('../assets/bg.jpg');
    padding: 30px;
}

.featureList .title {
    font-weight: bold;
}

.featureList .caption {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.featureItem {
    min-height: 200px;
}

.featureItem .featureIcon .material-icons {
    font-size: 4rem;
}

.featureItem .featureIcon {
    position: relative;
}
.featureIcon span{
    font-size: 18px;
}
.featureIcon .material-icons{
    color: #000000;
}

.featureItem span {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 12px 0px;
    display: inline-block;
}

.featureItem .featureDescription {
    transform: scale(0);
}

.featureItem.active .featureDescription {
    transform: scale(1);
}

.footer .container-fluid {
    background-color: #181818;
    color: #fff;
    letter-spacing: 0.02rem;
    padding: 55px 0;
    font-size: 1.2rem;
}

section.team {
    text-align: center;
    padding: 80px 0;
}

.team h2 {
    font-weight: bold;
    font-size: 4rem;
}

.team h5 {
    font-size: 2rem;
    font-weight: 500;
}

.team .seperator {
    margin: 20px 0 30px;
}

.teammate {
    position: relative;
    margin-top: 30px;
}

.teammate .image {
    width: 100%;
    height: auto;
    position: relative;
}

.teammate .image img {
    width: 100%;
    height: auto;
}

.teammate .image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all 0.5s ease;
}

.teammate:hover .image .overlay {
    opacity: 1;
}

.teammate .details {
    position: relative;
    margin-top: 30px;
}

.teammate .details .name {
    font-weight: bold;
}

.teammate .details .name,
.teammate .details .position,
.teammate .details .socials {
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    transition-delay: 0.25s;
}

.teammate .details .position {
    transition-delay: 0.2s;
}

.teammate .details .socials {
    transition-delay: 0.1s;
}

.teammate .details .about {
    transition-delay: 0s;
}

.teammate .details .socials ul {
    display: inline-flex;
    padding: 0;
    margin: 20px 0;
    width: 200px;
}

.teammate .details .socials ul li {
    list-style-type: none;
    display: inline-block;
    flex: 1;
}

.teammate .details .socials ul li .fa {
    font-size: 1.5rem;
}

.teammate .details .about {
    font-size: 1.2rem;
    padding: 0 30px;
    position: absolute;
    top: 150px;
    opacity: 0;
    transition: all 0.5s ease;
}

.teammate:hover .details .about {
    top: 0;
}

.teammate:hover .details .name,
.teammate:hover .details .position,
.teammate:hover .details .socials {
    top: -150px;
}

.teammate:hover .details .name {
    transition-delay: 0s;
}

.teammate:hover .details .position {
    transition-delay: 0.1s;
}

.teammate:hover .details .socials {
    transition-delay: 0.2s;
}

.teammate:hover .details .about {
    opacity: 1;
    transition-delay: 0.25s;
}

.footer .container-fluid h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    color: #aaaaaa;
    margin-bottom: 15px;
}

.footer .container-fluid.footer-links,
.footer .container-fluid.copyright-credits {
    background-color: #161616;
    padding: 15px 0;
}

.footer .container-fluid.footer-links {
    padding-bottom: 5px;
}

.footer .container-fluid.footer-links .social-links ul,
.footer .container-fluid.footer-links .quick-links ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.footer .container-fluid.footer-links .social-links ul li,
.footer .container-fluid.footer-links .quick-links ul li {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.footer .container-fluid.footer-links .social-links ul li a {
    font-size: 1.6rem;
}

.footer .container-fluid.footer-links .social-links ul li a:hover {
    color: #EDA924;
}

.footer .container-fluid.footer-links .social-links ul li a,
.footer .container-fluid.footer-links .quick-links ul li a {
    color: #efefef;
}

.footer .container-fluid.copyright-credits {
    background-color: #111111;
}

.footer .container-fluid.copyright-credits a {
    color: #EDA924;
}

.footer .container-fluid.copyright-credits .copyright {
    text-align: right;
}